<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/27baef62-a023-4c04-993f-976a087d8228/resourcegroups/Joia/providers/Microsoft.Web/sites/joia</ResourceId>
    <ResourceGroup>Joia</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://joia.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c75d19f0-5bab-42f8-8547-da05a68a1abc</ProjectGuid>
    <PublishUrl>https://joia.scm.azurewebsites.net/</PublishUrl>
    <UserName>$joia</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>